CLRClip/
data/
checkpoints/
models/weights/
pip-wheel-metadata/
__pycache__/
*.pyc
*.pyo
*.pyd


*.log
*.out
*.pid
*.swp
*.swo
.DS_Store
Thumbs.db


.ipynb_checkpoints/


.vscode/
.idea/
*.iml


Pipfile
Pipfile.lock
poetry.lock


build/
dist/
*.egg-info/
