certifi
charset-normalizer
colorama
contourpy
cycler
filelock
fonttools
fsspec
ftfy
huggingface-hub
idna
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mpmath
networkx
numpy
opencv-python
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
six
sympy
threadpoolctl
timm
tqdm
typing_extensions
tzdata
urllib3
wcwidth
